<footer>
    <div class="left6">
        <img src="/img/pic.png" alt="Portfolio" style="width: 100px; height: 100px; object-fit: contain;">
    </div>
    <div class="mid2">
        <h4>Follow</h4>

        <a href="https://web.facebook.com/profile.php?id=100078240876518"><img src="/img/facebook.png"
                alt="facebook"></a>
        <a href="https://www.instagram.com/f2021266448/"><img src="/img/instagram.png" alt="instagram"></a>
        <a href="https://www.linkedin.com/in/asad-nawaz-509747248/"><img src="/img/linkedin.png" alt="linkedin"></a>
    </div>
    <div class="right6">
        <h4> For Newsletter Subscribe</h4>
        <input type="email" placeholder="Email">

    </div>
</footer>