<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>


    
    <link rel="stylesheet" href="/css/ass.css">
</head>

<body>
    <%- include("partials/navbar.ejs") %>

        <h1 class="p-h1">Favourite Personalities</h1>

        <div class="p-sec1">
            <div class="p-left">
                <img src="/img/abdullah-oguk-stdES6XkQPo-unsplash.jpg" alt="Madina">
            </div>
            <div class="p-right">
                <h1>Muhammad (S.W.H) <span><img src="/img/muhammad-word.png" alt="muhammad-word"></span></h1>

            </div>
        </div>

        <div class="p-sec2">
            <div class="p-left2">
                <h2> About </h2>
                <p>Muhammad (s.w.h), also known as Prophet Muhammad (s.w.h), <br> was the last prophet and messenger of
                    God
                    in
                    Islam.<br> He
                    was born in Mecca, Saudi Arabia, in 570 CE, <br> and he began receiving revelations from God at the
                    age
                    of
                    40,<br> which became the basis of the Islamic faith. <br> Muhammad (s.w.h) spent the rest of his
                    life
                    spreading
                    the
                    message of Islam,<br> promoting peace and justice, and working to establish a b and united Muslim
                    community.<br> He is revered by Muslims as a model of ethical conduct and a source of spiritual
                    guidance.<br>
                    Muhammad (s.w.h) is also known for his compassion, humility, and dedication to serving others.<br>
                    His
                    teachings and
                    example continue to inspire millions of people around the world today.<br></p>
            </div>
            <div class="p-right2">
                <img src="/img/abdullah-oguk-stdES6XkQPo-unsplash.jpg" alt="Madina">
            </div>
        </div>


        <div class="p-sec3">
            <div class="p-left3">
                <img src="/img/elon.png" alt="elon-musk">
            </div>
            <div class="p-right3">
                <h2>ELON MUSK</h2>
                <p>Elon Musk is a South African-born American entrepreneur, inventor, and engineer.<br> He is best known
                    for
                    his
                    work as the CEO and founder of SpaceX,<br> Tesla, Neuralink, and The Boring Company.<br> Musk has
                    been a
                    major
                    force in advancing the fields of electric cars,<br> space exploration, and renewable energy.<br> He
                    has
                    also
                    been a vocal advocate <br>for the development of artificial intelligence and the potential benefits
                    and
                    risks it poses for society.<br> Musk is known for his ambitious vision, his willingness to take
                    risks,<br> and
                    his ability to turn seemingly impossible ideas into reality.<br> Despite facing numerous challenges
                    and
                    setbacks throughout his career,<br> Musk remains determined to make a positive impact on the world
                    and
                    to
                    push the boundaries of what is possible.<br></p>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>
</body>

</html>