<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>

    <link rel="stylesheet" href="/css/ass.css">
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <h1 class="c-h1">Favourite Cities</h1>
        <div class="c-sec1">
            <div class="c-left1">
                <img src="/img/new-york.png" alt="new-york">
                <h3>New York</h3>
            </div>
            <div class="c-mid1">
                <img src="/img/eiffel-tower.png" alt="eiffel-tower">
                <h3>Paris</h3>
            </div>
            <div class="c-right1">
                <img src="/img/indonesia.png" alt="indonesia">
                <h3>Bali
                </h3>
            </div>

        </div>
        <div class="c-sec2">
            <div class="c-left2">
                <h2>About</h2>
                <p>New York is a bustling metropolis located on the east coast of the United States. <br> It is the most
                    populous city in the country<br> and is known for its iconic landmarks such as the Statue of
                    Liberty,
                    the Empire State Building, and Times Square.<br> The city is a global center for finance, media,
                    art,
                    fashion,<br> and entertainment, and is home to numerous world-renowned museums, theaters, and
                    universities.<br> New York is a melting pot of different cultures, <br>and its diverse neighborhoods
                    offer a
                    unique blend of food, music, and art from all over the world.<br> The city's fast-paced lifestyle
                    and
                    vibrant energy attract millions of tourists every year,<br> making it one of the most popular
                    destinations in the world.<br>
                </p>
                <a href="https://en.wikipedia.org/wiki/New_York_City" target="_blank">Learn More</a>

            </div>
            <div class="c-right2">
                <img src="/img/arthur-martins-KIx_5ReSgIo-unsplash.jpg" alt="NewYork-pic">
            </div>
        </div>
        <div class="c-sec3">
            <div class="c-right3">
                <img src="/img/alexander-kagan-t9Td0zfDTwI-unsplash.jpg" alt="Paris-pic">
            </div>
            <div class="c-left3">
                <h2>About</h2>
                <p>Paris is the capital city of France, located in the northern part of the country. <br> It is often
                    referred to
                    as the "City of Love" and is known for its romantic atmosphere,<br> stunning architecture, and
                    world-class
                    cuisine.<br> The city is home to some of the most iconic landmarks in the world,<br> such as the
                    Eiffel
                    Tower,
                    Notre-Dame Cathedral, and the Louvre Museum.<br> Paris is also famous for its fashion and shopping,
                    with
                    the
                    Champs-Élysées<br> being one of the most popular destinations for high-end fashion brands.<br> The
                    city
                    has a
                    rich cultural heritage,<br> with a thriving arts scene, and is home to some of the world's most
                    famous
                    artists, writers, and philosophers.<br> Paris is a popular tourist destination <br>and attracts
                    millions
                    of
                    visitors every year who come to experience its charm, beauty, and rich history.<br></p>
                <a href="https://en.wikipedia.org/wiki/Paris" target="_blank">Learn More</a>
            </div>
        </div>
        <div class="c-sec4">
            <div class="c-top">
                <h2>About</h2>
                <p>Bali is a province of Indonesia, located on the westernmost end of the Lesser Sunda Islands.<br> It
                    is
                    known for its beautiful beaches, stunning landscapes, and vibrant culture.<br> Bali is home to some
                    of
                    the most iconic tourist destinations in the world,<br> such as the Uluwatu Temple, the Ubud Monkey
                    Forest, and the Tegallalang Rice Terrace. <br>The island is also famous for its traditional dance,
                    music, and arts, which reflect its unique Hindu-Buddhist heritage.<br> Bali is a popular destination
                    for
                    surfing and diving,<br> with many world-class surf breaks and underwater sites to explore.<br> The
                    island is
                    also home to some of the most luxurious resorts<br> and spas in the world, offering visitors a
                    chance to
                    relax and rejuvenate in a tranquil and serene environment.<br> Bali's warm weather, friendly people,
                    and
                    stunning natural beauty make it a must-visit destination<br> for travelers seeking a unique and
                    memorable experience.<br></p>
                <a href="https://en.wikipedia.org/wiki/Bali" target="_blank">Learn More</a>
            </div>
            <div class="c-bottom">
                <img src="/img/alfiano-sutianto-exFdOWkYBQw-unsplash.jpg" alt="bali">
            </div>
        </div>



        <%- include("partials/footer.ejs") %>
</body>

</html>