<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="/css/ass.css">
</head>

<body>
    <%- include("partials/navbar.ejs") %>

        <section class="sec1">
            <div class="left2">
                <img src="/img/ben.jpg" alt="ben">
            </div>
            <div class="right2">
                <h1>Asad Nawaz, Web DEV</h1>
                <a href="mailto: asad223nawaz@gmail.com">asad223nawaz@gmail.com</a>

            </div>
        </section>

        <div class="container1">
            <div class="left3">
                <h2>About</h2>
                <p>My Name is Asad Nawaz and I'm from Multan <br> I have done my matric and FSC from Sadiq Public
                    School,
                    Bahawalpur. <br>
                    I'm currently studying BSCS from UMT and I'm learning web dev to become <br> a full stack developer
                    one
                    day
                    InshAllah. <br>
                    Ben Resume HTML Template is brought to you by Tooplate website. <br>
                    <br>
                    However, please do not re-distribute the downloadable<br> template ZIP file on any template
                    collection
                    website. <br> This is bly prohibited. <br> Please contact Tooplate for more information
                </p>
            </div>
            <div class="right3">
                <img src="/img/true-agency.jpg" alt="man">
            </div>
        </div>
        <div class="container2">
            <div class="top">
                <h2>
                    Skills
                </h2>
            </div>
            <div class="bottom">
                <div class="left4">
                    <img src="/img/c-.png" alt="C++ " class="logo">
                    <h3>C++</h3>
                </div>
                <div class="mid-1">
                    <img src="/img/python.png" alt="Python" class="logo">
                    <h3>Python</h3>
                </div>
                <div class="mid-2">
                    <img src="/img/html.png" alt="HTML" class="logo">
                    <h3>HTML</h3>
                </div>
                <div class="right4">
                    <img src="/img/css-3.png" alt="Css" class="logo">
                    <h3>CSS</h3>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="top2">
                <h2>Hobbies</h2>
            </div>
            <div class="bottom2">
                <div class="left5">
                    <img src="/img/programming.png" alt="programming" class="logo">
                    <h3>Programming</h3>
                </div>
                <div class="mid">
                    <img src="/img/dev.png" alt="web-dev" class="logo">
                    <h3>Web DEV
                    </h3>
                </div>
                <div class="right5">
                    <img src="/img/development.png" alt="app-Dev" class="logo">
                    <h3>APP DEV</h3>
                </div>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>
</body>

</html>