<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourist</title>

    <link rel="stylesheet" href="/css/ass.css">
</head>

<body>
    <%- include("partials/navbar.ejs") %>

        <section class="t-sec1">
            <div class="div" style="margin-top: 27px;">
                <h1 class="t-h1">7 Most Visited Tourist Attractions in the World</h1>

                <p>Today, the world where we live is covered with various interesting and beautiful places from which
                    most
                    of us are created by nature, and we humans create some. It isn't easy to compile a list of all these
                    top
                    favourable places we should visit. The most prominent cities marked by most Tourist travellers
                    include
                    <b>New York, Paris, London, Italy, Delhi</b>, and many more. Each of these places has there
                    own USP like <b>Art &amp; Culture, Monuments, History</b> and many more things to see.
                </p>
                <h2 class="h2">1. Machu Picchu, Peru</h2>
                <img src="/img/t-1.png" alt="Machu" class="img">
                <p>Machu Picchu is one of the most beautiful places in the world. It is believed that it was built
                    between
                    the <b>15-16th</b> century at the height of the famous <b>Inca Empire, the rulers of
                        south Western America.</b> For the starting 100 years, Machu Picchu was the hometown of many
                    peoples, but after that, it became abandoned. There were mainly stories related to these firstly the
                    invasion by the mighty Spanish army, which was begun by them as a conquest for Pre- Columbia
                    Civilization during 1930. The second reason may be the spread of smallpox among its residents.
                    Still,
                    there is no valid evidence related to these.</p>
                <p>Macchu Picchu was first discovered in <b>1911</b> by <b>Hiram Bingham, an American
                        archaeologist.</b> The simple meaning of Machu Picchu in its native Quechua language is
                    <b>"Old peak"</b> writing about his journey in the discovery of Machu Picchu Bingham has also
                    written a book under the title <b>"The Lost City of Incas".</b>
                </p>
                <p>In 1983, Machu Picchu got listed as a <b>UNESCO World Heritage Site.</b></p>
                <h2 class="h2">2. The Grand Canyon, Arizona</h2>
                <img src="https://static.javatpoint.com/top10-technologies/images/top-10-tourist-places-in-world2.png"
                    alt="Top 10 Tourist Places In World" class="img" />
                <p>The Grand Canyon is one of the <b>seven natural wonders of the world</b>, and it is mainly
                    located in the <b>northwestern Arizona,</b> part of the southwestern United States. The Grand
                    Canyon covers <b>227 miles long</b> and <b>18 miles wide,</b> which makes it some of
                    the biggest places to visit. The first European who visited these sites was <b>Lopez de
                        Cardenas</b>, who arrived in <b>1540</b>.</p>
                <p>The formation history related to Grand Canyon is two billion years old; the most prominent reason for
                    its
                    formation is the <b>colorado river</b> which flows from these directions in the past and still
                    continuously flows through it.</p>
                <p>Most of the tourist who visits these places comes into an area referred to as the South Rim, the area
                    of
                    the south rim is famous for its adventures in hiking trails, and the great overlooks spread around
                    these
                    locations are known as <b>Desert view.</b></p>
                <h2 class="h2">3. Rome, Italy</h2>
                <img src="https://static.javatpoint.com/top10-technologies/images/top-10-tourist-places-in-world3.png"
                    alt="Top 10 Tourist Places In World" class="img" />
                <p>Rome is among the most beautiful city in the world, and it is very true to say the eternal city of
                    Rome
                    is one of the <b>biggest living museums</b> in the world. Visiting these places immersed you
                    in its thousands of years of history, which are surrounded by the building and culture of the city.
                    Rome
                    is a small city so you can visit all of its beautiful must-see places in a minimum of three days.
                </p>
                <p>The most beautiful and important places to visit include the <b>Colosseum</b> and adjacent
                    <b>Roman Forum, the Pantheon</b>, and the <b>Vatican City,</b> a country located in
                    the central part of Rome. There are also many other places you can visit on the city's outskirts.
                    The
                    most refreshing part of every tourist in his Rome visit is the wonderful assortment of beach towns,
                    these are a few miles away from the main city, in this coast, you can escape the warming heat
                    hustle,
                    and bustle of the city by taking a deep or swimming in the cool water of <b>Tyrrhenian
                        Sea.</b>
                </p>
                <h2 class="h2">4. New Zealand</h2>
                <img src="https://static.javatpoint.com/top10-technologies/images/top-10-tourist-places-in-world4.png"
                    alt="Top 10 Tourist Places In World" class="img" />
                <p>There are very countries in the world with similar natural beauty and overwhelming friendly citizens
                    like
                    New Zealand. New Zealand is an <b>Icelandic Nation</b>. Mainly the country has two main
                    Iceland referred to as North and South. Both these cities are located on the North Island. The
                    country's
                    capital is <b>Wellington</b> and the most populated place in <b>Auckland</b>. The
                    county is filled with numerous <b>snow-capped mountains, ancient glaciers, rolling hills,</b>
                    and <b>copious wine.</b> All such thing makes it a must-visit.</p>
                <p><b>Some of the most interesting things to do in New Zealand are-</b></p>
                <ul class="points">
                    <li>Explore Abel Tasman National Park</li>
                    <li>Glacier Trekking on Fox and Franz Josef</li>
                    <li>Hike the Tongariro Alpine Crossing</li>
                    <li>Hang Out in Queenstown</li>
                    <li>Visit Hobbiton</li>
                    <li>Explore Fiordland</li>
                </ul>
                <h2 class="h2">5. Maui, Hawaii</h2>
                <img src="https://static.javatpoint.com/top10-technologies/images/top-10-tourist-places-in-world5.png"
                    alt="Top 10 Tourist Places In World" class="img" />
                <p>Maui is an island in <b>Hawaii</b>, and the island fulfils most of the wishes you want in your
                    holiday vacations. This place is famous for giving you a <b>once-in-a-lifetime experience</b>
                    where you can surf can enjoy your exotic beachside meals in the luxury resorts.</p>
                <p>You can also experience the adventure in Maui by riding a horse across a dormant volcano in
                    <b>Haleakala National Park</b>. You can also feel the enjoyment of <b>hiking</b> and
                    <b>trekking</b> in its rainforest, located in the <b>West Maui Mountains</b>. The
                    natural view is truly amazing, which makes it a part of everyone's holiday location list. Here you
                    can
                    enjoy it very much at a very low cost.
                </p>
                <h2 class="h2">6. Masai Mara, Kenya</h2>
                <img src="https://static.javatpoint.com/top10-technologies/images/top-10-tourist-places-in-world6.png"
                    alt="Top 10 Tourist Places In World" class="img" />
                <p>Masai Mara is among the most beautiful and <b>biggest wildlife reserve</b> in the African
                    region. It is located in the southwest part of the <b>African subcontinent</b> country Kenya.
                    The Masai Mara is the most popular in the world for its ecosystem. You find the highest number of
                    <b>lions</b>, a population of over two million wildebeest <b>zebra</b>, and
                    <b>Thomson's Gazelle</b>, which migrates into these places every year.
                </p>
                <p>Masai Mara is the house of over 95 mammals and 520 different word species. The amazing fact about
                    Masai
                    mara is that, it is the only place to have all the members of the big five, which are <b>lion,
                        leopard, African elephant, African buffalo,</b> and <b>Black Rhino,</b> and all these
                    can be founded in the areas of <b>Masai Mara National Reserve.</b></p>
                <p>Along with its animal ecosystem, you can also experience Masai mara because there are local cultures
                    and
                    dress. For helping tourists, the local authorities are continuously working on developing the
                    accommodation facilities.</p>
                <h2 class="h2">7. London, England</h2>
                <img src="https://static.javatpoint.com/top10-technologies/images/top-10-tourist-places-in-world7.png"
                    alt="Top 10 Tourist Places In World" class="img" />
                <p>London is among the world's biggest centres of tourist attraction. It is among the world's most
                    tourist
                    attended places averagely every year over <b>22 million</b> tourists came to the
                    <b>United Kingdom</b> to visit their iconic city London.
                </p>
                <p>The most prominent places which you can visit in London include-</p>
                <ul class="points">
                    <li>British Museum</li>
                    <li>National Gallery</li>
                    <li>Royal Museums Greenwich</li>
                    <li>Southbank Centre</li>
                    <li>Tate Modern</li>
                </ul>
            </div>
        </section>

        <%- include("partials/footer.ejs") %>
            </div>
</body>

</html>